.edad_integrantes {
  margin-top: 10px;
}

.detalle_integrante {
  margin: 10px;
}

.oculto {
    display: none;
}

.visible {
    display: inline;
    margin: 10px;
}

input {
    margin-left: 10px;
}
